
<EditForm Model="@_permissionModel" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />
    <div class="px-7">
        <TextField ValueExpression="@(() => _permissionModel.Type)" @bind-MyValue="_permissionModel.Type" MyLabel="Тип" MyRequired />
        <TextField ValueExpression="@(() => _permissionModel.Value)" @bind-MyValue="_permissionModel.Value" MyLabel="Значение" MyRequired />
    </div>

    <MudGrid Spacing="1" Class="d-flex justify-end py-3 px-7">
        <MudItem xs="12" sm="6" md="3">
            <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Success" FullWidth Disabled="_loading" ButtonType="ButtonType.Submit">
                @if (_loading)
                {
                    <MudProgressCircular Size="Size.Small" Color="Color.Info" Indeterminate="true" />
                }
                else
                {
                    <MudText>Сохранить</MudText>
                }
            </MudButton>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel" FullWidth>Отмена</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>